Source: bucardo
Priority: optional
Maintainer: Nicholas Jefferson <nicholas@pythonic.com.au>
Uploaders: Michael Meskes <meskes@debian.org>
Build-Depends: cdbs, debhelper (>= 5), perl (>= 5.10.0), quilt
Standards-Version: 3.9.4
Section: database
Homepage: http://bucardo.org/
Vcs-Git: git://git.debian.org/git/pkg-postgresql/bucardo.git
Vcs-Browser: http://git.debian.org/?p=pkg-postgresql/bucardo.git

Package: bucardo
Architecture: all
Depends: ${misc:Depends}, adduser, perl (>= 5.10.0), libdbix-safe-perl, libdbd-pg-perl, libboolean-perl
Recommends: postgresql-plperl
Description: asynchronous replication system for PostgreSQL
 Bucardo is an asynchronous PostgreSQL replication system, allowing for both
 multi-master and multi-slave operations.
 .
 Bucardo uses PL/pgSQL and Pl/PerlU triggers to send notification events to a
 daemon, which replicates the data modifications, and Bucardo provides both
 standard and custom conflict resolution methods.
